// changes for 1080p displays
@media only screen and (min-width: 1281px) {
  html {
    .header-main {
      padding: 25px 60px;
    }
    .dropdown-content {
      margin: 0px 15px;
    }

    p, li {
      font-size: 28px;
      margin: 50px 30px;
    }
    table {
      font-size: 28px;
    }
    .content-wrapper {
      padding: 80px; 
      margin: 0px 200px 80px 200px;
    }
  footer {
    font-size: 28px;
  }
  #home_small_logo {
    font-size: 100px;
  }
  #home_big_logo {
    font-size: 140px;
  }
  .home_buttons {
    font-size: 45px;
  }
  .one-third {
    height: auto;
    img {
      max-width: 70%;
    }
  }
}
}

// for over 1080p
@media only screen and (min-width: 2600px) {
  html {
    .content-wrapper {
      max-width: 1800px;
      margin: auto;
      margin-bottom: 80px;
    }
    p, li {
      font-size: 35px;
    }
  }
}
