@highlight-color: #952c3f;

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  >* {
    padding: 10px 30px;
  }
  a:visited {
  text-decoration-line: none;
  color: black;
  }
  a {
    text-decoration-line: none;
    color: black;
  }
}
