footer {
  display: flex;
  justify-content: center;
  >* {
    padding: 10px 30px;
  }
}
#up-button {
  font-size: 2em;
  position: fixed;
  bottom: 20px;
  right: 10px;
  color: #751414;
}
span {
  mouse-events: none;
}
