#homepage-main {
  position: relative;
  display: block;
  overflow: hidden;
  min-height: 100vh;
}

#homepage-main::after {
  background: url("../images/homepage_2.jpg");
  position: absolute;
  z-index: -1;
  top: 65px;
  bottom: 0;
  right: 0;
  left: 0;
  content:"";
  background-size: cover;
  background-position: 0px 2%;
}


#homepage-logo {
	font-family: 'Roboto Condensed', 'Open-Sans', sans-serif;
  color: #FFF;
  padding: 120px 0px 80px 0px;
  text-align: center;
  #home_small_logo {
    font-size: 70px;
  }
  #home_big_logo {
    font-size: 100px;
  }
}
