#homepage-main {
  position: relative;
  display: block;
  overflow: hidden;
  min-height: 100vh;
}
#homepage-main::after {
  background: url("../images/homepage_2.jpg");
  position: absolute;
  z-index: -1;
  top: 65px;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  background-size: cover;
  background-position: 0px 2%;
}
#homepage-logo {
  font-family: 'Roboto Condensed', 'Open-Sans', sans-serif;
  color: #FFF;
  padding: 120px 0px 80px 0px;
  text-align: center;
}
#homepage-logo #home_small_logo {
  font-size: 70px;
}
#homepage-logo #home_big_logo {
  font-size: 100px;
}
html {
  width: 100%;
  height: 100%;
  font-size: 22px;
  font-family: 'Roboto', 'Open-Sans', sans-serif;
  line-height: 1.5;
}
a:hover {
  color: #8a4545;
}
.small-text {
  font-size: 0.8em;
}
h1,
h2 {
  color: #b03d52;
  font-weight: bold;
}
h1 {
  font-family: "open-sans", sans-serif;
  text-align: center;
  font-size: 50px;
  position: relative;
  margin: 75px 0px;
  text-shadow: 0 3px 2px rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}
h2 {
  font-size: 1.5em;
  margin: 10px 20px;
}
p {
  margin: 10px 25px;
}
img {
  margin: 10px 25px;
  width: 100%;
}
#main {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  background: rgba(223, 255, 204, 0.1);
}
#main::after {
  background: url("../images/background_2.jpg");
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  background-size: cover;
  background-attachment: fixed;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px 60px 50px 60px;
  padding: 60px 80px;
  max-width: 100%;
  background-color: #eaf6eb;
}
.content-wrapper a {
  color: #b03d52;
  text-decoration-line: underline;
}
.whitespace {
  height: 30px;
}
.paragraph {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.paragraph > * {
  margin: 20px;
  flex: 1;
}
.paragraph iframe {
  min-height: 450px;
}
.two-images {
  flex: 0 0 50%;
  white-space: nowrap;
}
.two-images img {
  height: auto;
  margin: auto;
  max-width: 50%;
}
.main-images {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.main-images img {
  margin: 0px;
}
.main-images .big-img {
  flex: 0 1 auto;
}
.main-images .small-img {
  flex: 1 1 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.main-images .small-img img {
  width: 100%;
}
.just-text > * {
  margin: 10px 20px;
}
.just-text p {
  text-align: center;
}
.just-text .small-text {
  margin: 5px 20px;
  font-size: 0.6em;
  display: inline;
  font-weight: normal;
}
.just-text h2 {
  text-align: center;
  display: inline;
}
table {
  align-self: center;
}
table th,
table td {
  padding: 15px;
  text-align: center;
}
table th {
  color: #b03d52;
}
ul {
  margin: 10px 30px;
}
ul li {
  margin: 3px 20px;
}
footer {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
footer > * {
  padding: 10px 30px;
}
a:visited {
  text-decoration-line: none;
}
#up-button {
  font-size: 2em;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #a84557;
}
span {
  mouse-events: none;
}
header {
  background-color: #bbddb7;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}
#header-right-container {
  display: flex;
  justify-content: end;
}
.header-main {
  padding: 25px 20px;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
}
.header-main .dropdown-triangle {
  font-size: 0.6em;
  position: relative;
  top: -0.2em;
}
.dropdown-content {
  display: none;
}
.dropdown-content.active {
  display: block;
  position: absolute;
  background-color: #eaf6eb;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px 0px;
  padding: 10px 10px;
  margin: 0px 15px;
}
.dropdown-content.active a {
  color: black;
  padding: 15px 30px 15px 15px;
  display: block;
  text-align: left;
}
.header-main:hover,
.dropdown-content a:hover {
  color: #b03d52;
}
span {
  pointer-events: none;
}
