header {
  background-color: #b7d2b5;
}
nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 0px 15px 0px 15px;
}
#header-right-container {
  display: flex;
  justify-content: end;
}
.header-main {
  padding: 20px 25px 20px 25px;
  cursor: pointer;
  font-size: 16px;
  color: #6f0101;
}
.header-main .dropdown-triangle {
  font-size: 0.6em;
  position: relative;
  top: -0.2em;
}
.dropdown-content {
  display: none;
}
.dropdown-content.active {
  display: block;
  position: absolute;
  background-color: white;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 4px 0px;
  padding: 10px 0px;
}
.dropdown-content.active a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}
.dropdown-content.active a:hover {
  color: #6f0101;
}
