@media only screen and (max-width: 768px) {
  .content-wrapper {
    margin: 0px 8px 20px 8px;
    padding: 30px 40px;
  }
  .paragraph {
    flex-direction: column;
  }
  .home_buttons {
    margin: 15px 0px;
  }
}
