// @highlight-color: #8a4545;
@highlight-color: #952c3f;

// main settings for all pages except homepage
html {
  width: 100%;
  height: 100%;
  font-size: 21px;
	font-family: 'Roboto', 'Open-Sans', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

a:hover {
  color: #8a4545;
}

.small-text {
  font-size: 0.8em;
}

h1, h2 {
  color: @highlight-color;
  font-weight: bold;
}

// used for page heading over content
h1 {
  font-family: "open-sans", sans-serif;
  text-align: center;
  font-size: 3.5em;
  position: relative;
  margin: 100px 0px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  margin: 10px 20px;
}

p {
  margin: 30px 25px;
}

img {
  margin: 30px 25px;
  width: 100%;
  height: 100%;
}

.image-gallery:hover {
  cursor: pointer;
}

#imagenum {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  color: white;
}

// entire body after the header is inside main
#main {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
	background: rgba(223, 255, 204, 0.1);
}

// background image
#main::after {
  background: url("../images/background_2.jpg");
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content:"";
  background-size: cover;
  background-attachment: fixed;
}

// actual page content is put directly inside the box
.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px 60px 50px 60px;
  padding: 50px;
  max-width: 100%;
  background-color: #eaf6eb;
  a {
    color: @highlight-color;
    text-decoration-line: underline;
  }
}

.whitespace {
  height: 30px;
}

// basically a flex container for blocks of content
.paragraph {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  >* {  // select all children
    margin: 20px;
    flex: 1;
  }
 iframe {
    min-height: 450px;
    min-width: 60%;
  }
}

// two images, intended to be beside text
.two-images {
    flex: 0 0 50%;
    white-space: nowrap;
    img {
      height: auto;
      margin: 5px;
      max-width: 50%;
    }
}

// images that fill the width, with one main and two small images
.main-images {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  img {
    margin: 0px;
  }
  .big-img {
    flex: 1 1 auto;
    margin-right: 3px;
  }
  .small-img{
    flex: 1 1 32%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    img {
      width: 100%;
      margin-top: 3px;
    }
  }
}

// background and container for open image gallery
.modal {
  display: none;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0px;
  top: 0px;
  overflow: auto;
}

.prev-button, .next-button, .close-button{
  color: white;
  position: absolute;
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  z-index: 5;
}
.next-button {
  right: 30px;
}
.prev-button {
  left: 30px;
}
.close-button {
  font-size: 50px;
  top: 20px;
  right: 20px;
}
.close-button:hover, .next-button:hover, .prev-button:hover{
  color: #999;
  cursor: pointer;
}
.gallery-content {
  display: block;
  position: relative;
  padding: 0px;
  height: 90%;
  top: 5%;
  width: auto;
  margin: auto;
}

.centered-text {
  >* {
    margin: 10px 20px;
  }
  p {
    text-align: center;
  }
  .small-text {
    margin: 5px 20px;
    font-size: 0.6em;
    display: inline;
    font-weight: normal;
  }
  h2 {
    text-align: center;
    display: inline;
  }
}

.thirds-container {
  display: flex;
}
.two-thirds {
  flex: 1 0 70%;
}
.one-third {
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  img {
    height: auto;
    max-width: 80%;
    margin: 5px;
  }
}

#drawn-map {
  width: 400px; 
  float: left; 
  margin-right: 20px; 
  margin-bottom: 0px;
}

table {
  align-self: center;
  th, td {
    padding: 15px;
    text-align: center;
  }
  th {
    color: @highlight-color;
  }
}

ul {
  margin: 10px 30px;
  li {
    margin: 3px 20px;
  }
}
