// @highlight-color: #8a4545;
@highlight-color: #b03d52;

// main settings for all pages except homepage
html {
  width: 100%;
  height: 100%;
  font-size: 22px;
	font-family: 'Roboto', 'Open-Sans', sans-serif;
  line-height: 1.5;
}

a:hover {
  color: #8a4545;
}

.small-text {
  font-size: 0.8em;
}

h1, h2 {
  color: @highlight-color;
  font-weight: bold;
}

// used for page heading over content
h1 {
  font-family: "open-sans", sans-serif;
  text-align: center;
  font-size: 50px;
  position: relative;
  margin: 75px 0px;
	text-shadow: 0 3px 2px rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  margin: 10px 20px;
}

p {
  margin: 10px 25px;
}

img {
  margin: 10px 25px;
  width: 100%;
  height: 100%;
}

// this pops up when someone clicks on a picture
#image_gallery {
  position: absolute;
}

// entire body after the header is inside main
#main {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
	background: rgba(223, 255, 204, 0.1);
}

// background image
#main::after {
  background: url("../images/background_2.jpg");
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content:"";
  background-size: cover;
  background-attachment: fixed;
}

// actual page content is put directly inside the box
.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px 60px 50px 60px;
  padding: 60px 80px;
  max-width: 100%;
  background-color: #eaf6eb;
  a {
    color: @highlight-color;
    text-decoration-line: underline;
  }
}

.whitespace {
  height: 30px;
}

// basically a flex container for blocks of content
.paragraph {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  >* {  // select all children
    margin: 20px;
    flex: 1;
  }
 iframe {
    min-height: 450px;
  }
}

// two images, intended to be beside text
.two-images {
    flex: 0 0 50%;
    white-space: nowrap;
    img {
      height: auto;
      margin: auto;
      max-width: 50%;
    }
}

// images that fill the width, with one main and two small images
.main-images {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  img {
    margin: 0px;
  }
  .big-img {
    flex: 0 1 auto;
  }
  .small-img{
    flex: 1 1 33.3333%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    img {
      width: 100%;
    }
  }
}
 
.just-text {
  >* {
    margin: 10px 20px;
  }
  p {
    text-align: center;
  }
  .small-text {
    margin: 5px 20px;
    font-size: 0.6em;
    display: inline;
    font-weight: normal;
  }
  h2 {
    text-align: center;
    display: inline;
  }
}

table {
  align-self: center;
  th, td {
    padding: 15px;
    text-align: center;
  }
  th {
    color: @highlight-color;
  }
}

ul {
  margin: 10px 30px;
  li {
    margin: 3px 20px;
  }
}
